<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Document</title>
</head>
<body>
     <header>

        </header>

    <main class="container   ">
       



<section class=" section-home row  ">

    <div class="head-section">
        <h2 class="title">Serie histórica de consumo</h2>
        <p class="text">Ingresa los datos de los últimos 12 meses (del más antiguo al más reciente)</p>
    </div>

    <div class="linea"></div>

<table class=" col-sm-12 col-md-6 col-lg-4">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Consumo (kWh)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td><input type="date"></td>
      <td>Dato A</td>
    </tr>

    <tr>
      <td>2</td>
      <td><input type="date"></td>
      <td>Dato B</td>
    </tr>

    <tr>
      <td>3</td>
      <td><input type="date"></td>
      <td>Dato C</td>
    </tr>

    <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr>

 <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    
</tr> 


    <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr> 


    <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr>

     <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr>

     <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr> 

    <tr>
      <td>4</td>
      <td><input type="date"></td>
      <td>Dato D</td>
    </tr>
    <!-- Puedes seguir agregando más filas -->
  </tbody>
</table>



</section>

    </main>
</body>
</html>